
.settings {
  margin: 0;
  padding: 0;
}

.settings-label {
  font-size: 16px;
  margin: 8px 0 12px;
  color: black;
  display: block;
}

.settings-content {
  height: 80px;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  cursor: pointer;
}

.settings-title {
  color: rgba(0,0,0,.87);
  font-size: 18px;
  line-height: 34px;
}

.settings-subtitle {
  color: rgba(0,0,0,.54);
  font-size: 16px;
  line-height: 24px;
}