.toolbar {
  color: white;
  height: 56px;
  line-height: 56px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  position: relative;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  background-color: #673ab8;
  padding: 0px 20px;
  z-index: 1;
  user-select: none;
}

.toolbar-title {
  color: white;
  line-height: 56px;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  display: inline-block;
}

.toolbar-settings {
  cursor: pointer;
  padding: 16px;
  position: absolute;
  right: 8px;
  line-height: 0;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.65, 0.05, 0.35, 1);
}

.toolbar-settings.active {
  transform: rotate(180deg);
}